body {
  background-image: url(../img/background-pattern.png)
}

.header {
  margin: 0 auto;
  width: 20%;
  text-align: center;
  color: yellow;
  background-color: red;
}

.centerText {
  margin: 3% auto;
  width: 75%;
  text-align: center;
}
.menuBox {
  width: 50%;
  margin: 0 auto;
}
.column {
  box-sizing: border-box;
  text-align: center;
  border-width: 2px;
  border-color: black;
  border-style: ridge;
  background-color: whitesmoke;
  color:red;
  margin: 0 auto;
  float: left;
  width: 50%;
}

.burgerPic {
  width: 100px;
  text-align: center;
}

li {
    padding: 5px;
    margin: 5px;
  }
  
.create-form {
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    width: 25%;
    clear: both;
  }
  
.form-group {
    margin-bottom: 5px;
  }
  